{% block content %}

<!-- <div class="form-group"> -->
    <h2 class="title">Please enter your company info</h2>
    <form method="POST" action="/test">
        <div class="form-control"><label for="your name">Your name
            <input type="text" id="hiring_manager" name="hiring_manager" required>
        </div>
        <div class="form-control"><label for="your comany">Your company's name
            <input type="text" id="company_name" name="company_name" required>
        </div>

        <p><input type=submit value="Submit company info"></p>
    </form>
<!-- </div> -->

{% endblock %}